# TOTO JE UKÁZKOVÝ PRODUKČNÍ SOUBOR PRO HESLA
# Skutečný soubor .env obsahuje reálné přihlášení na SMTP server Seznam.cz (bezpečnostní důvody odevzdání ZP)

EMAIL_ADRESA=vas_email@seznam.cz
EMAIL_HESLO=zde_bylo_nase_krasne_dlouhe_tajne_heslo
PORT=3000
